table{
    border: 1px solid lightseagreen;
}

td, th{
    border: 2px solid lightseagreen;
    padding: 2px;
    margin: 0px;
    width: 120px;
}
th{
    background-color: #205516;
    color: #A5F496;
}
tr:nth-child(even){
    background-color: #A5F496;
}
tr{
    background-color: #84CA76;
}