table{
    border: 1px solid black;
    text-align: center;
    color: brown;
    background-image: url("/C5-UD29-jgil/UD29-06/img/pattern.png");
    background-color: rgb(250, 250, 195);
    background-size: 150px;
}
td, th{
    border: 1px solid black;
}
th{
    background-color: rgb(27, 158, 27);
}
.fila2{
    background-color: rgb(252, 205, 152);
}
.fila3{
    background-color: rgb(252, 252, 152);
}
